

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #353535;
}

a:hover {
	text-decoration: none;
}

body {
	line-height: 1.75em;
	background: #fff url('../images/00bd.png');
	
	font-size: 11.5pt;
	color: #353535;
}

body,input {
	font-family: Kreon, serif;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	color: #353535;
	margin-bottom: 1em;
}

h1 {
	font-size: 1.75em;
}

h2  {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1em;
}

img.alignleft {
	float: left;
	margin: 5px 30px 20px 0;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

a {
	color: #353535;
}

#content {
	padding: 0 0 0 10px;
	width: 898px;
	margin: 0 0 0 285px;
        /*margin: 0 auto;*/
}

#footer {
	padding: 20px 0 20px 0;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
	color: #353535;
}

#footer a {
	color: #353535;
}

#header {
	height: 130px;
	padding: 40px;
	position: relative;
	background: url(../images/cap.jpg) no-repeat 85px 30px;
}
#header >div{
    width: 90%;
    border:1px solid red;
}

#logo {
	position: absolute;
	top: 40px;
	left: 20px;
	height: 130px;
	line-height: 130px;
	
}

#logo a {
	color: #ffffff;
	text-shadow: black 0px 0px 7px;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 35px;
}


#logo img {
	margin-left: 70px;
	vertical-align: middle;
}

#menu {
	line-height: 57px;
	position: absolute;
	right: 40px;
	top: 76px;
	height: 57px;
	font-family: "Open Sans", sans-serif;
}

#menu a {
	text-transform: uppercase;
	text-decoration: underline;
	color: #1C1C1C;
	font-size: 1.2em;
}

#menu a:hover {
	text-decoration: none;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;
}

#page {
	margin: 0;
	position: relative;
	width: 900px;
	padding: 20px 40px 0 40px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	padding: 25px 0 25px 0;
	clear: both;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	border-top: solid 1px #e3e3e3;
	padding: 10px 0 10px 0;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
        margin: 0 auto;
	padding: 40px 40px 0 40px;
	color: #353535;
	background: #f3f3f3;
	position: relative;
	width: 898px;
	border-top: solid 1px #e3e3e3;
	box-shadow: inset 0px 0px 0px 1px #fff;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}

#page-bottom a {
	color: #1B1A18;
}

#page-bottom h2, #page-bottom h3, #page-bottom h4 {
	color: #353535;
}

#page-bottom ul {
	list-style: none;
}

#page-bottom ul li {
	border-top: solid 1px #e3e3e3;
	padding: 10px 0 10px 0;
}

#page-bottom ul li.first {
	border-top: 0;
	padding-top: 0;
}

#page-bottom-content {
	width: 615px;
	margin: 0 0 0 290px;
}

#page-bottom-sidebar {
	float: left;
	width: 250px;
}

#sidebar {
	position: relative;
	left: -20px;
	top: -20px;
	float: left;
	width: 240px;
	background: #f3f3f3;
	padding: 20px;
	border: solid 1px #e3e3e3;
	margin: 0 10px 0 0;
	text-shadow: 1px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px 1px #fff;
}

#wrapper {
	width: 100%;
	position: relative;
	background: #FFF;
	margin: 0 auto 0 auto;
	box-shadow: 10px 100px 150px 0px rgba(0,0,0,0.15);
	border: solid 1px #f3f3f3;
	border-top: 0;
}

.box img {
	margin: 0px 20px 0px 0px;
	border: solid 1px #e3e3e3;
}

.box p {
	margin-bottom: 0em;
}

.box ul{
	margin-bottom: 0em;
	list-style: square inside;
}

.box table {
	border-collapse:collapse;
}

.box table, th, td {
	border: 1px solid #e3e3e3;
	padding: 5px;
}
.enter{
    /*width: 200px;*/
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
form li{
    list-style-type: none; /* Убираем маркеры */
}
.reg_form, 
.login_form {
    background: #FCFCFC;
    border-radius: 0 0 3px 3px;
    padding: 15px;
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 4px #D8D8D8;
    -webkit-box-shadow: 0 0 4px #D8D8D8;
}
.reg_form input, 
.login_form input,
.new_mess input{
        vertical-align: middle;
        font-size: 16px;
        padding: 5px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin-bottom: 5px;
        margin-left: 15px;
}
.reg_form input[type=submit],
.login_form input[type=submit],
.new_mess input[type=submit]{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    
}
.reg_form input[type=submit],
.login_form input[type=submit],
.new_mess input[type=submit]{
    margin-top: 10px;
}
.reg_form input[type=submit]:hover,
.login_form input[type=submit]:hover,
.new_mess input[type=submit]:hover{
    background-color: #036CF5;
    cursor:pointer;
}
.content h1{
    border-bottom: 1px dashed #B6B6B6;
}
/*Block News*/
.news_block{
    width: 100%;
}
.news_block div{
    display: inline-block;
    width: 32%;
}
.news_block li{
    list-style-type: none; /* Убираем маркеры */
}

/**/
.main_page >div{
    display: block;
    height: 205px;
}
.main_page .block{
    display: inline-block;
    width: 32%;
}
/*Блоки с выбором групп*/
.sale .select_group{
    width: 190px;
    height: 200px;
    background: #f3f3f3;
    padding: 20px;
    border: solid 1px #e3e3e3;
    margin: 0 10px 10px 0;
    /*text-shadow: 1px 1px 0px rgba(255,255,255,1);*/
    box-shadow: inset 0px 0px 0px 1px #fff;
/*    margin: 5px;*/
    display: inline-block;
}
/*Блок с ценой при выборе групп*/
.sale .block_price{
    width: 110px;
    /*display: inline-block;*/
    position: relative;
    float: left;
}
.for_block_price{
    width: 220px;
    display: inline-block;
    position: fixed;
    /*float: right;*/
    right: 15px;
    background-color: white;
}
/*Для сообщений */
.messag_head >div{
    background: #E8E8E8;
    font-weight: normal;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}
.messag_head >div:first-child {
    display: inline-block;
    text-align: left;
    color: #000;
    max-width: 550px;
    padding: 10px 20px 10px 20px;
    margin: 30px 0px 0px 10px;
}
.messag_head >div:last-child {
    display: inline-block;
    font-weight: normal;
    color: #999;
    text-align: right;
    max-width: 250px;
    margin: 30px 5px 0px 0px;
    padding: 10px 20px 10px 20px;
}
.body_message{
    font-weight: normal;
    text-align: left;
    max-width: 760px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 10px;
    background: #f3f3f3;
}
/*блок для написания сообщения*/
.new_mess{
    background: #FCFCFC;
    border-radius: 0 0 3px 3px;
    padding: 15px;
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 4px #D8D8D8;
    -webkit-box-shadow: 0 0 4px #D8D8D8;
    margin-bottom: 10px;
}
.new_mess textarea{
    max-width: 350px;
    width: 100%;
}
.new_mess_open{
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
}
.new_mess_open img{
    border: none;
}
.new_mess_open button{
    padding: 5px;
    text-align: center;
}
button:hover{
    cursor: pointer;
}

/**
*BLOCK MY GROUPS*
*/
.block_price_month{
    width: 100%;
}
.block_pay_month_head{
    width: 90px;
    display: inline-block;
    text-align: center;
    align-content: center;
}
.block_pay_month{
    width: 80px;
    display: inline-block;
    text-align: center;
    /*font-weight: bold;*/
    padding: 1px 2px;
    margin: 4px 5px;
    background-color: white;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    box-shadow: 0 0 4px #D8D8D8;
    -webkit-box-shadow: 0 0 4px #D8D8D8;
    
}
.bay_mont{
    display: block;
}
.bay_mont input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bay_mont input[name=for_bill]{
    width: 50px;
}
.bay_mont input[name=cost_bill]{
    width: 100px;
}/*Страница со счетами*/
.bills_block {
	width:100%;
	height:auto;
	-moz-box-sizing: border-box; /* Для Firefox */
	-webkit-box-sizing: border-box; /* Для Safari и Chrome */
	box-sizing: border-box; /* Для IE и Opera */
	text-align: left;
}
.bills_balance {padding:5px; color:#bd3299;  width:auto; font-size:20px; font-weight:bold; }
.bills_number {padding:5px; color:#999;  width:35px;}
.bills_about {padding:5px;  max-width:400px; width: 100%; font-size:14px; line-height:23px;}
.bills_date {padding:5px;  width:100px; font-size:12px; color:#0e8690;  line-height:20px;}
.bills_cost {padding:5px; width:100px; font-size:18px; text-align:right;font-weight:bold; color:#bd3299; /* Поля */  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;   box-sizing: border-box;}
.bills_last {padding:5px;  max-width:200px; width: 100%; font-size:14px; line-height:16px; color:#C9F; }
.bills_comment {padding:5px;  max-width:200px; width: 100%; font-size:14px; line-height:16px; color:#666;}
.bills_price_ok { background: url(../images/price_ok.png) left center no-repeat;  padding:5px 5px 5px 50px; color: #65cc5a; font-weight:bold; font-size:18px;   }
.bills_button {position:relative;

	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
        
	/* Поля */  -moz-box-sizing: border-box; /* Для Firefox */   -webkit-box-sizing: border-box; /* Для Safari и Chrome */   box-sizing: border-box; /* Для IE и Opera */}

.bills_button:hover {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.4);}
.bill_comment_all {		position:relative;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	/*display: inline;
        /*display: inline;*/ 
        width:auto; padding-bottom:0px;  line-height:15px; width:auto; margin-left:20px; }
.block{
	text-align: left;
	position: relative;
	display: -moz-inline-stack;
   	display: inline-block;
   	vertical-align: top;
   	zoom: 1;
   	/*display: inline;
	//display: inline;*/
}
